name: SWERI Processing
services:
  app:   
    image: ${DOCKER_IMAGE_NAME}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    env_file:
      - "../.env"
    environment:
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}
    depends_on:
      db:
        condition: service_healthy
      celery:
        condition: service_healthy
#  app_console:
#      service:
#    extends:
#        app
#    ports: !reset [ ]
#    volumes:
#      - ..:/code
  rabbit:
    image: rabbitmq:4.0.1-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ../rabbitmq.conf:/etc/rabbitmq/conf.d/rabbitmq.conf
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      timeout: 5s
      retries: 5
  celery:
    depends_on:
      rabbit:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - "../.env"
    image: ${DOCKER_IMAGE_NAME}
    command: celery -A worker worker --loglevel=info
    healthcheck:
      test: [ "CMD-SHELL", "celery -A worker status | grep 'OK'" ]
      interval: 10s
      timeout: 10s
      retries: 5
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
  db:
    image: postgis/postgis:15-3.5
    env_file:
      - "../.env"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    shm_size: 1gb
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]

      interval: 10s
      timeout: 5s
      retries: 5
    command: postgres -c max_wal_size=5GB -c wal_level=minimal -c synchronous_commit=off -c max_wal_senders=0